.btn {
    padding: 12px 20px;
    border-radius: 4px;
    background: var(--secondary-color);
    color: var(--main-color-1) !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.28px;
    text-transform: uppercase;
}

.btn:hover {
    background: var(--main-color-2);
}