nav {
    position: fixed;
    z-index: 4;
    width: 100%;
    display: flex;
    padding: 26px 80px;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
}

nav .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 28px;
}

nav ul li a {
    color: var(--main-color-1);
    font-size: 14px;
    font-weight: 500;
    transition: 600ms;
}

nav ul li a:hover {
    color: var(--analogous-color-2);
}

nav .menu-icon, .mobile-menu {
    display: none;
}

/* media queries */

@media (max-width: 1200px) {
    nav {
        padding: 26px 60px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    nav {
        padding: 26px 40px;
    }
}

@media (max-width: 767px) {
    nav {
        padding: 28px 20px;
        align-items: flex-end;
    }

    nav ul {
        display: none;
    }

    .mobile-menu {
        display: flex;
        position: fixed;
        z-index: 4;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 16px 20px;
        gap: 32px;
        background: var(--main-color-1);
        transform: translateX(100%);
        transition: all 600ms cubic-bezier(0.3, 0.96, 0.56, 0.95);
    }

    .mobile-menu.active {
        transform: translateX(0);
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .mobile-menu ul li {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu ul li a {
        color: var(--main-color-2);
        font-size: 14px;
        font-weight: 500;
    }

    nav .menu-icon {
        display: block;
    }

    .mobile-menu .close-icon {
        position: fixed;
        top: 16px;
        right: 20px;
    }
}