h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

:root {
  --main-color-1: #FFF;
  --main-color-2: #000;
  --primary-color: #6B3CC9;
  --secondary-color: #F28D35;
  --analogous-color-1: #6A44F2;
  --analogous-color-2: #1CBDDD;
  --triadic-color-1: #52378C;
  --dark-color-1: #78BF91;
  --dark-color-2: #4DCA79;
  --text-color: #2F2F2F;
  --text-color-light: #545A75;
  --text-color-subtle: #9C9991;
  --accent-color-1: #E2F2FE;
  --accent-color-2: #FFF8E0;
  --error-color: #FF0335;
  --success-color: #5EB30B;
  --gray-color: #6F6C90;
  --gray-color-light: #FAF8FF;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.container-fluid, .container {
  padding: 0;
}

dl, ol, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-color-1);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-light);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-subtle);
}